{{- $serversWithApiKey := list }}
{{- range .Values.config.servers }}
{{- if and .apiKey (not .existingSecret) }}
{{- $serversWithApiKey = append $serversWithApiKey . }}
{{- end }}
{{- end }}
{{- if $serversWithApiKey }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "jellyfin-db-sync.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "jellyfin-db-sync.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- range $serversWithApiKey }}
  {{ include "jellyfin-db-sync.serverEnvName" .name }}: {{ .apiKey | quote }}
  {{- end }}
{{- end }}
