name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  tox:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        env: [lint, type, test]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install tox
        run: pip install tox

      - name: Run tox ${{ matrix.env }}
        run: tox -e ${{ matrix.env }}
